################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
/.vs/MyEngine/v15/ipch/AutoPCH/28d89dac413114d/MIKATESTIJUTTUJA.ipch
/.vs/MyEngine/v15/ipch/AutoPCH/e7550e6667fce685/MAIN.ipch
/.vs/MyEngine/v15/ipch/AutoPCH/97533712ed831361/BATCHRENDERER2D.ipch
