################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/win32/.vs/engine/v15/Browse.VC.opendb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.VC
*.sqlite-journal

*.tlog
*.log
*.db
/.vs/Android-proju2/v15
*.ipch
*.json
*.so
*.xml

